.add_task__btn{
    display: flex;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    width: 125px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 55px;
    margin-bottom: 25px;
    border-radius: 20px;
    height: 45px;
}
